body {
    font-family: 'sans-serif', Times, Times New Roman, serif;
    background-image: url(../images/pow-star.png);
}
.parent {
	width: 1200px;   
    margin: 0;
}
.pagehead {
    position: fixed;
    background-color: #ebeca3;
    width: 100%;
    border-bottom: #000000 solid 2px;
}
.pagehead h1 {
    text-align: center;
    margin-left: 100px;
	float: left;
	background-color: teal;
	color: white;
	font-family: sans-serif;
	font-size: 40px;
}
.links {
    position: relative;
    width: 400px;
    float: right;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    padding: auto;
    margin: auto 50px auto auto;
    top: 50px;
}
.links a{
    color: rgb(255, 253, 253);
}
.content {
    width: 960px;
    margin: auto;
    position: relative;
    top: 150px;
}
.mainbox {
	background-color: #f7f7df;
	height: 400px;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(7, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: auto;
	width: 650px;
	float: left;
    height: 340px;
}
.mainbox h2 {
    position: relative;
	text-align: center;
	float: 0;
	font-size: 40px;
	border-bottom: 4px solid #000000;
}
.mainbox p{
    padding: 0px 20px;
}
.stockimgs {
    position: relative;
}
.mainbox img {
    position: relative;
    width: 250;
    margin: auto 37.5px auto 37.5px;
}
.img1 {
    float: left;
    margin-left: 30px;
}
.img2 {
    float: right;
    margin-right: 30px;
}
.img3 {
    float: left;
    margin-left: 30px;
}
.img4 {
    float: right;
    margin-right: 30px;
}
.mainbox form {
    padding: 0px 20px;
}
.CWM {
	background-color: #f7f7df;
	height: 180px;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(7, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 270px;
    float: right;
    padding: auto;
}
.CWM h3 {
    text-align: center;
	float: 0;
	font-size: 20px;
	top: 70px;
	border-bottom: 4px solid #000000;
	border-bottom-style:ridge;
	right: -60px;
	margin-top: 20px;
}
.links2 {
    width: 175px;
    margin: auto;
}
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #3c2d2d;
	color: white;
	text-align: center;
	height: 90px;
}
.profilepic {
    height: 150px;
    float: left;
    margin-right: 10px;
    clear: both;
}
